.checkout_wrap{
    background: url("../images/checkout_triangle.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10%;
}
/*Checkout empty*/
.checkout-empty_text{
    padding-bottom: 80%;
}
@media (min-width:500px){
    .checkout-empty_text{
        padding-bottom: 60%;
    }
}
@media (min-width:600px){
    .checkout-empty_text{
        padding-bottom: 50%;
    }
}
@media (min-width:700px){
    .checkout-empty_text{
        padding-bottom: 20%;
    }
}
/*Checkout-full*/
.product_bought img{
    max-width: 40%;
    float: left;
    margin-right: 2%;
}
.bought{
   position: relative;
   margin: 10%; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
   max-width: 15%;
}
.buyer_number-card,
.buyer_card-cvv{
    margin: 2% 0;
}
.buyer_card-cvv{
    font-size: 0.6em;
}
.payment_option{
    border-top: 1px solid #707070;
    text-align: center;
    font-size: 1em;
}
.vipps img{
    max-width: 20%;
}
#cta_done, .modal_wait {
    display: none;
}
#cta_done:checked ~ .modal_wait{
    display: block;
    border: 1px solid #707070;
    text-align: center;
    justify-content: center;
    margin: 10%;
}
.circle img{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4;
}
@keyframes rotation{
    100% {rotate: 90deg;}
    50% {rotate: 180deg;}
    70% {rotate: 240deg;}
    100% {rotate: 360deg;}
}
/*Checkout success*/
.payment_wrap{
    border: 3px solid #768C56;
    overflow: hidden;
    padding: 0;
    width: 230px;
    position: relative;
    left: 30%;
}
.payment_wrap p,
.payment_wrap h4{
    margin: 0;
    text-align: left;
}
.congrat{
    text-align: center;
}
.photo-product-bought img{
    max-width: 15%;
    float: left;
    margin: 2% 1%;
}
.pay-success{
    color: #768C56;
}
.datails_delivery{
    text-decoration: underline;
}
@media (min-width:600px){
    .checkout_wrap{
        background-position-x: 200px;
    }
    .bought{
        position: relative;
        top: 10px;
    }
    .success_wrap{
        max-width: 600px;
        margin: 0 auto;
        }
}