form{
    display:grid;
    justify-content: center;
}
#name:invalid,
#email:invalid,
#message:invalid{
    border: 1px solid red;
}
.cta-contact_send{
    position: relative;
    left: 60%;
}
.cta-contact_send:disabled{
    color: rgba(157, 165, 150, 0.5);
}
.form-error,
.fa-exclamation-triangle{
    display: none;
    color: rgb(189, 48, 48);
    margin-top: 5px;
    font-weight: 700;
    font-size: 0.7em;
}
.checkedSuccess{
    background-color: #DFE2DB;
}
.checkedError{
    background-color: #f5b3b3;
}
@media (min-width:600px){
.form_wrap{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.form-error{
    font-size: 0.9em;
}
}