.form_wrap{
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
form{
    display:grid;
    justify-content: center;
    gap: 2%;
    
}
.form,
textarea{
    max-width: 200px;
    margin: 0 auto;
}
#name:invalid,
#email:invalid,
#message:invalid{
    border: 1px solid red;
}
.form-error,
.fa-exclamation-triangle{
    display: none;
    color: rgb(189, 48, 48);
    margin-top: 5px;
    font-weight: 700;
    font-size: 0.7em;
    max-width: 200px;
}
.checkedSuccess{
    background-color: #DFE2DB;
    z-index: 100;
    box-shadow: 5px 5px rgba(157, 165, 150, 0.5);
    border: 3px solid rgba(191, 245, 104, 0.596);
}
.checked{
    width: 300px;
    margin-bottom: 6%;
}
@media (min-width:600px){
.form-error{
    font-size: 0.9em;
}
.form_wrap,
.form,
textarea{
    max-width: 300px;
}
}