#cta_back,
#cta_back-success{
    background-color: #F1F2E6;
    border-radius: 40px;
    width: 6%;
    padding: 1% 2%;
    justify-content: center;
    position: relative;
    left: 80%; 
}
#cta_back,
#cta_back-success,
.cta_done,
.cta-products__autumn2020,
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_add,
.cta_checkout,
.cta_edit,
.cta-contact_send,
.cta_wait-continuebuying,
.cta_continuebuying{
    display: flex;
    cursor: pointer;
}
#cta_back,
#cta_back-success,
.cta_done,
.cta-products__autumn2020,
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_add,
.cta_checkout,
.cta_edit,
.cta-contact_send,
.cta_wait-continuebuying,
.cta_continuebuying,
.title-page{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
    text-transform: uppercase ;
    border: 3px solid #707070;
    border-radius: 23px;
}

.cta-products__autumn2020,
.cta-products__winter2020-2021{
    max-width: 40%;
    font-size: 0.5em;
}
.cta-products__winter2020-2021,
.cta_continuebuying{
    text-align: center;
    max-height: 20%;
}
.cta-products__autumn2020,
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_done,
.cta_continuebuying{
    padding: 3%;
    justify-content: center;
}
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta_checkout,
.cta_edit{
    background-color: #dbe2e7;
}
.cta-products__autumn-woman{
    background-color: #F4F6F8;
}
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_checkout,
.cta_wait-continuebuying,
.cta_continuebuying{
    width: 30%;
}
.cta_especific-products{
    background-color: #DAE1E6;
    width: 10%;
    padding: 1% 2%;
    font-size: 0.5em;
}
.cta_add{
    background-color: #86888A;
    color: #FFF;
    max-width: 20%;
    padding: 6px;
    margin: 0 auto;
    text-align: center;
}
.ctas-modal_products-specific{
    display:flex;
    justify-content: space-around;
}
.ctas-modal_products-specific p{
    height: 6%;
    font-size: 0.5em;
    margin-top: 10%;
}
i.fas.fa-cart-plus{
    margin-left: 10px; 
}
.cta_checkout{
    width: 20%;
    padding: 0;
    justify-content: center;
}
.cta_edit{
    width: 10%;
    justify-content: center;
}
.cta_done{
    background-color: #86888A;
    color: #FFF;
    margin: 3% auto;
    font-size: 0.8em;
    max-width: 30%;
}
.cta-products__autumn2020,
.cta-products__autumn-unisex,
.cta_wait-continuebuying,
.cta-contact_send{
    background-color: #F1F2E6;
}
.cta-contact_send{
    max-width: 40%;
}
.cta_continuebuying{
    background: #595452;
    color:#fff;
    border-color: #595452;
    position: relative;
    top: 40px;
    left: 60%;
}
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex{
    font-size: 0.5em;
    position: relative;
    left: 8%;
}
#cta_back-success{
    left: 2%;
}
.cta-contact_send{
    position: relative;
    left: 70%;
}
.cta-contact_send:disabled{
    color: rgba(157, 165, 150, 0.7);
}
@media (min-width:600px){
    .cta-products__autumn2020,
    .cta-products__winter2020-2021,
    .cta_continuebuying{
    max-width: 50%;
    }
    .cta_continuebuying{
        top: 50px;
        left: 60%;
        padding: 1%;
    }
    .cta-products__autumn2020,
    .cta-products__winter2020-2021{
        font-size: 0.6em;
    }
    .ctas-modal_products-specific h6{
        max-width: 70%;
        font-size: 0.8em;
    }
    .cta-products__autumn-men,
    .cta-products__autumn-woman,
    .cta-products__autumn-unisex{
        font-size: 1em;
    }
    .cta_add,
    .cta_wait-continuebuying{
        justify-content: center;
    }
    .cta_done{
        max-width: 20%;
        padding: 1%;
    }
    .cta_wait-continuebuying{
        max-width: 15%;
    }
}
@media (min-width:1000px){
    .cta-products__autumn2020,
    .cta-products__winter2020-2021{
        font-size: 1em;
    }
    .cta_add{
        position: relative;
        top: -40px;
        left: 180px;
    }
}