@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
figure p,
footer p,
.bought p,
.product_raincoat-dovre p,
.checkout-empty_text,
.payment_wrap p,
.contact_name,
.contact_email,
.contact_message,
legend,
.payment_option,
.buyer_card-cvv,
.checked,
.fa-smile-wink{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
}
p,
.form-error,
.form,
textarea{
    font-family: 'verdana', sans-serif;
}
i{
    color: #0F100A;
}

@media (min-width:300px) and (max-width:599px) {
    p{
        font-size: 0.8em;
    }
    label,
    legend{
    font-size: 0.9em;
}
}
@media (min-width:600px){
    body, 
    label,
    legend{
        font-size: 1em;
    }
}