@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
figure p,
footer,
.checkout-empty_text,
.payment_wrap p,
.contact_name,
.contact_email,
.contact_message,
legend,
.payment_option,
.buyer_card-cvv{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
}
p,
body{
    font-family: 'verdana', sans-serif;
}
p{
    font-size: 0.6em;
}
i{
    color: #0F100A;
}
.contact_name,
.contact_email,
.contact_message,
legend{
    font-size: 0.7em;
}
.details_buying{
    font-size: 1em;
}
.fa-bars{
    font-size: 1.3em;
}
footer{
    font-size: 0.7em;
}
@media (min-width:600px){
    footer{
        font-size: 1.2em;
    }
    p{
        font-size: 0.8em;
    }

}