@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
figure p,
footer,
.checkout-empty_text,
.payment_wrap p,
.contact_name,
.contact_email,
.contact_message,
legend,
label,
.payment_option,
.buyer_card-cvv,
.checked,
.fa-smile-wink{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
}
p,
body{
    font-family: 'verdana', sans-serif;
}
p{
    font-size: 0.6em;
}
i{
    color: #0F100A;
}
.form-error,
.fa-exclamation-triangle{
    color: rgb(189, 48, 48);
    font-weight: 700;
    font-size: 0.7em;
}
@media (min-width:300px) and (max-width:599px) {
    p{
        font-size: 0.8em;
    }
    label,
    legend{
        font-size: 0.9em;
    }
    .fab{
        font-size: 1.3em;
    }
    .fa-bars{
        font-size: 1.7em;
    }
}
@media (min-width:600px){
    body, 
    label,
    legend{
        font-size: 1em;
    }
    .fab{
        font-size: 1.5em;
    }
    .form-error{
        font-size: 0.8em;
    }
    #cvvError,
    #credit_cardError,
    #phoneError{
        font-size: 0.7em;
    }

.details_buying{
    font-size: 1em;
}
.fa-bars{
    font-size: 1.3em;
}
footer,
.productType, 
.productPrice{
    font-size: 0.7em;
}
footer,
    .productType, 
    .productPrice{
        font-size: 1.2em;
    }
    p{
        font-size: 0.8em;
    }
    .cta_productSpecific{
        font-size: 1em;
    }
}