main{
    text-align: center;
}
.index-products{
    margin: 0 auto;
}
.index-products,
.bestProducts{
    box-shadow: 1px 1px 5px 1px rgba(89, 84, 82, .2);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: space-between;
    justify-items: center;
}
.bestProducts{
    margin: 2% auto;
}
.spotlightImage{
    max-width: 80%;
}
.starsBest{
    max-width: 30%;
}
.welcome_wrap{
    position: relative;
    margin-top: 8%;
}
@media (min-width:300px) and (max-width: 599px){
    .home_main{
        background-position-x: 200px;
    }
}
@media (min-width:600px){
    .index-products,
    .bestProducts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
        max-width: 750px;
    }
    .home_main{
        background-position-x: 200px;
    }
    .welcome_wrap{
        margin-top: 4%;
    }
}
@media (min-width:800px){
    .home_main{
        background-position-x: 500px;
    }
}