.productsCards {
    border: 2px solid grey;
}

/*Products*/
.products_page-container,
.products-menu,
.products_collections{
    display: flex;
}
.products-menu{
    display: block;
    position: relative;
    left: 0;
    background: linear-gradient(0.50turn, #E5E7D1, #ffffff, #EFF1E2);
    max-width: 50%;
    font-size: 0.5em;
}
.products-menu li{
    padding: 4px 0;
}
.products_current a{
    color: #908E83;
}
.products_autumn-wrap,
.products_winter-wrap{
    display: grid;
    position: relative;
    max-width: 40%;
    left: 50px;
    justify-content: center;
}
.products_collections img{
    max-width: 50%;
}
/*Autumn2020*/
.autumn2020_wrap,
.options-autumn{
    display: flex;
}
.options-autumn{
    justify-items: center;
}
.options-autumn img{
    max-width: 50%;
}
.men_autumn,
.woman_autumn,
.unisex_autumn{
    position: relative;
    flex: 1;
    left: 3%;
    top: 3%;
}
.men_autumn img{
    min-height: 53%;
}
/*Unisex-autumn*/
.products-options-unisex-autumn{
    display: flex;
}
.products-photos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
}
.products-photos img{
    max-width: 70%;
}
.autumn_bergen,
.product_raincoat-dovre,
.autumn_arendal,
.autumn_brekstad,
.autumn_namsos,
.autumn_trondheim{
    position: relative;
    left: 3%;
    top: 3%;
}
.discount_image img{
    position: absolute;
    max-width: 30%;
    border: none;
    top:-600%;
}
/*Modal Raincoat-dovre*/
#raincoat-dovre, .modal_raincoat-dovre{
    display: none;
}
#raincoat-dovre:checked ~ .modal_raincoat-dovre{
    display: block;
    position: absolute;
    background: white;
    max-width: 60%;
    z-index: 100;
    border: 3px solid #707070;
    left: 20%;
    top: 15%;
}
.modal_raincoat-dovre h3{
    text-align: center;
    margin: 1% 0;
    font-size:0.8em
}
.photos_specific-product{
    display: flex;
    align-items: center;
}
.raincoat-dovre_secondary,
.raincoat-dovre_tertiary{
    margin-right: -3px;
    margin-left: 0;
    max-width: 50%;
    flex: 1;
}
.raincoat-dovre_main{
    margin:0 auto;
    max-width: 60%;
    flex: 2;
}
.raincoat-dovre_tertiary{
    margin-left: -25px;
}
.modal_raincoat-dovre h4{
    margin-bottom: 1%;
}
.details_buying{
    display: block;
    margin: 0;
    font-size: 0.7em;
}
.size_color_wrap{
    display:flex;
    justify-content: space-around;
}
.select-color img{
    max-width: 20%;
    border: none;
}
.select-color{
    margin-left: 6%;
}
#color-yellow,
#color-marine,
#color-gray,
#color-red{
    display:none;
}
.price{
    display: flex;
    justify-content: space-around;
}
.sale{
    text-decoration: line-through;
}
#add-to-cart, .cart {
    display: none;
}
#add-to-cart:checked ~ .cart{
    display: block;
    position: absolute;
    top:0;
    z-index: 1000;
    background-color:white;
}
.cart{
    border: 3px solid #707070;
    width: 90%;
}
.cart,
.cart h5,
.cart h6{
    margin: 0;
    padding: 1%;   
}
.success_add,
.success_add i{
    color: #768C56;
}
#cta_back{
    left: 2%;
}
@media (min-width:600px){
    .products-menu li{
        display: block;
        border: none;
        font-size: 1.5em;
        padding: 10px 0;
    }
    #raincoat-dovre:checked ~ .modal_raincoat-dovre{
        top: 45%;
    }
    .discount_image img{
        top: -1200%;
    }
    .products_collections{
        align-items: end;
    }

}
@media (min-width:940px){
    .autumn2020_wrap,
    .products-menu{
        display:flex;
    }
}    
@media (min-width:1000px){
    .products-menu{
        display: block;
        max-width: 50%;
        padding: 2%;
    }
    .products_autumn-wrap,
    .products_winter-wrap{
        margin: 0 auto;
    }
    .discount_image img{
        width: 35%;
        top: -700%;
    }
    .products-photos{
        margin-left: 8%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: 0;
    }
    .products-photos img{
        max-width: 90%;
    }
    .products-photos p{
        font-size: 0.6em;
        text-align: center;
    }
    /*Modal Raincoat-dovre*/
    #raincoat-dovre:checked ~ .modal_raincoat-dovre{
        max-width: 50%;
        top: 10%;
    }
    .raincoat-dovre_secondary img,
    .raincoat-dovre_tertiary img{
    max-width: 50%;
    margin-right: -70px;
    }
    .raincoat-dovre_main img{
    max-width: 60%;
    margin-right: -15%;
    }
    .select-color img{
        max-width: 20%;
    }
    #add-to-cart:checked ~ .cart{
        top: 90px;
        right: -300px;
    }    
    .cart,
    .cart h5,
    .cart h6{
        font-size: 1em;
    }
    .price{
        justify-content: space-evenly;
        position: relative;
        right: 90px;
    }
}
@media (min-width:1200px){
    .discount_image img{
        top: -950%;
    }
}