/*font*/
@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
a,
figure p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
}
p{
    font-family: 'verdana', sans-serif;
    font-size: 0.6em;
}
i{
    color: #0F100A;
}
/*logo*/
.logo img{
    display: grid;
    width: 70%;
}
/*Images*/
img{
    width: 60%;
}
/*hamburger menu*/
nav{
    display: none;
}
#hamburger-menu{
    display:none;
}
#hamburger-menu:checked ~nav{
    display: block;
    background-color:#f7f7f7;
    border: 2px solid #595452;
    border-radius: 6px;
    color:#595452;
    width: 40%;
    animation-name: menu;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    left: -1000px;
    position: relative;
}
li{
    list-style: none;
    padding: 3%;
}
@keyframes menu{
        0% {left: -1000px;}
        100% {left: 0px;}
}
/*CTA*/
#cta_back{
    background-color: #F1F2E6;
    border-radius: 40px;
    width: 6%;
    padding: 1% 2%; 
}
#cta_back,
.cta-products__autumn2020,
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_add,
.cta_checkout,
.cta_edit{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #595452;
    text-transform: uppercase ;
    border: 3px solid #707070;
    display: flex;
}
.cta-products__autumn2020,
.cta-products__winter2020-2021{
    width: 50%;
    border-radius: 20px;
}
.cta-products__autumn2020,
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products{
    padding: 3%;
    justify-content: center;
}
.cta-products__winter2020-2021,
.cta-products__autumn-men,
.cta_checkout,
.cta_edit{
    background-color: #dbe2e7;
}
.cta-products__autumn-woman{
    background-color: #F4F6F8;
}
.cta-products__autumn-men,
.cta-products__autumn-woman,
.cta-products__autumn-unisex,
.cta_especific-products,
.cta_checkout{
    border-radius: 23px;
    width: 30%;
}
.cta_especific-products{
    background-color: #DAE1E6;
    width: 10%;
    padding: 1% 2%;
}
.cta_add{
    background-color: #86888A;
    color: #FFF;
    width: 20%;
    border-radius: 23px;
    padding: 10px;
}
i.fas.fa-cart-plus{
    margin: 0px 0px 0px 10px; 
}
.cta_checkout{
    width: 20%;
    padding: 0%;
    justify-content: center;
}
.cta_edit{
    border-radius: 23px;
    width: 10%;
    justify-content: center;
}
/*Home*/
.home_main{
    background: url('/images/background-triangle.jpg') right no-repeat;
}
/*Raincoat-dovre*/
#add-to-cart, .cart {
    display: none;
  }
  
  #add-to-cart:checked ~ .cart{
    display: block;
  }
.sale{
    text-decoration: line-through;
}
/*Checkout-full*/
#cta_done, .modal_wait {
    display: none;
  }
  
  #cta_done:checked ~ .modal_wait{
    display: block;
    border: 1px solid #707070;
    text-align: center;
    justify-content: center;
  }
.circle img{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4;
}
@keyframes rotation{
    100% {rotate: 90deg;}
    50% {rotate: 180deg;}
    70% {rotate: 240deg;}
    100% {rotate: 360deg;}
}
/*Footer*/
footer{
    background: linear-gradient(0.50turn, #B8BF80, #ebf8e1, #B8BF80);
}
footer h5{
    color: #5F5C54;
}
.footer_logo{
    width: 30%;
}
.email_footer{
    font-style:italic;
    color: #A3A7A2;
    text-decoration: underline;
}
/*Media Querie*/
@media (min-width:600px){
    /*Grid template areas
.logo{grid-area: rdlogo;}
nav{grid-area: rdnav;}
main{grid-area: rdmain;}
footer{grid-area: rdfooter;}

body{
    display: grid;
    grid-template-areas:
    'rdnav  rdlogo'
    'main'
    'footer'
}*/
    nav li {
        display: inline-block;
        padding: 0px;
      }
      header{
        justify-content: start;
    }
      header label {
        display: none;
      }

}

@media (min-width:800px){
}