/*font*/
@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
/*h1 each page*/
.title-page h1{
    background-color: #F1F2E6;
    font-size: 1em;
    padding: 2%;
    justify-content: center;
}
/*Images*/
.index_raincoat-red,
.products_collections img,
.options-autumn img,
.products-options-unisex-autumn img,
.raincoat-dovre_secondary img,
.raincoat-dovre_main img,
.about-product img,
.product_bought img,
.photo-product-bought img{
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(0.4turn, #F2F1F1, #808080) 2;
    border-radius: 6px;
}
/*hamburger menu*/
nav{
    display: none;
}
#hamburger-menu{
    display:none;
}
#hamburger-menu:checked ~nav{
    display: block;
    background-color:#f7f7f7;
    border: 2px solid #595452;
    border-radius: 6px;
    color:#595452;
    width: 23%;
    animation-name: menu;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    left: -1000px;
    position: fixed;
    z-index: 1000;
}
nav ul,
.cart ul{
    padding: 3%;
    margin: 3%;
}
li{
    list-style: none;
    padding: 3%;
}
@keyframes menu{
        0% {left: -1000px;}
        100% {left: 0px;}
}
/*Background*/
.home_main,
.about_wrap,
.contact_wrap{
    background: url('../images/background-triangle.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}
.home_main{
    background-position-x: 600%;
}
.contact_wrap,
.about_wrap{
    background-position-x: -15%;
}
/*Header*/
.logo img{
    max-width: 60%;
    display: block;
    margin: auto;
}
.current{
    background-color: #F4F6F8;
    text-decoration: underline;
}
/*Search icon and filter*/
.search_shopping i,
.filter_sorter i{
    padding: 1%;
    background-color: #E5EAED;
    border: 1px solid #707070;
    border-radius: 10px;
}
.search_shopping,
.search_shopping i{
    display: inline;
    position: unset;
}
/*About*/
.about-product img{
    float: right;
    max-width: 150px;
}
.about_history-filosofy,
.our-team{
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
}
.our-team img{
    float: left;
    margin-right: 10px;
    max-width: 100px;
}
/*Unisex-autumn*/
#raincoat-dovre, .modal_raincoat-dovre{
    display: none;
}
#raincoat-dovre:checked ~ .modal_raincoat-dovre{
    display: block;
    border: 3px solid #707070;
}
/*Modal Raincoat-dovre*/
#add-to-cart, .cart {
    display: none;
}
#add-to-cart:checked ~ .cart{
    display: block;
}
.sale{
    text-decoration: line-through;
}
.select-color img{
    max-width: 10%;
}
.cart{
    border: 3px solid #707070;
    width: 90%;
}
.cart,
.cart h5,
.cart h6{
    margin: 0;
    padding: 1%;   
}
.sucess_add,
.sucess_add i{
    color: #768C56;
}
.select-color img{
    border:none;
}
/*Checkout-full*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
#cta_done, .modal_wait {
    display: none;
}
#cta_done:checked ~ .modal_wait{
    display: block;
    border: 1px solid #707070;
    text-align: center;
    justify-content: center;
    margin: 10%;
}
.circle img{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4;
}
@keyframes rotation{
    100% {rotate: 90deg;}
    50% {rotate: 180deg;}
    70% {rotate: 240deg;}
    100% {rotate: 360deg;}
}
/*Checkout sucess*/
.payment_wrap{
    border: 3px solid #768C56;
}
/*Footer*/
footer{
    display: flex;
    background: linear-gradient(0.50turn, #B8BF80, #ebf8e1, #B8BF80);
}
footer h6{
    color: #5F5C54;
}
.footer_logo,
.social-media,
.footer_about,
.footer_contactus{
    margin: 2% 0 2% 0;
    padding: 2% 1% 2% 0;
}
.footer_logo{
    max-width: 50%;
    float: left;
}
.email_footer{
    font-style:italic;
    color: #A3A7A2;
    text-decoration: underline;
}
/*Media Querie*/
@media (min-width:600px){
    nav{
        display: block;
    }
    nav ul{
        float: left;
        padding: 0;
        margin: 1% 0;
    }
    nav li {
        display: inline-block;
        padding: 5px 40px;
        border:1px solid #707070;
        border-radius: 6px;
    }
    #search{
        padding: 6px 20px;
    }
    .fas.fa-bars{
        display: none;
    }
    .logo img{
        max-width: 40%;
    }
    .search_shopping{
        display: block ruby;
        min-height: 50px;
        margin: 1%;
    }
    .title-page h1{
        font-size: 1.3em;
        padding: 0;
        width: 40%;
        margin: 1% auto;
    }
}
