/*font*/
@font-face{
    font-family: 'Work Sans';
    src: url("https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nWBi8Jpg.woff2") format('woff2');
}
h1,
h2,
h3,
h4,
nav,
a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
p{
    font-family: 'verdana', sans-serif;
}
/*Grid template areas
.logo{grid-area: rdlogo;}
nav{grid-area: rdnav;}
main{grid-area: rdmain;}
footer{grid-area: rdfooter;}

body{
    display: grid;
    grid-template-areas:
    'rdnav  rdlogo'
    'main'
    'footer'
}*/
/*logo*/
.logo img{
    display: grid;
    width: 70%;
}
/*hamburger menu*/
nav{
    display: none;
    
}
#hamburger-menu{
    display:none;
}
#hamburger-menu:checked ~nav{
    display: block;
    background-color:#f7f7f7;
    border: 2px solid #595452;
    border-radius: 6px;
    color:#595452;
    width: 40%;
}
li{
    list-style: none;
    padding: 3%;
}
/*Raincoat-dovre*/
#add-to-cart, .cart {
    display: none;
  }
  
  #add-to-cart:checked ~ .cart{
    display: block;
  }